//contact page ----can refactor to use grid to remain consistant
.boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
/*
  div{
    font-size: 2rem;
    border: 3px solid #ecf4f3;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

      &:hover{
        padding: 0.5rem 1.5rem;
        background: $secondary-color;
        color: set-text-color($secondary-color);
        span{
          color: set-text-color($secondary-color);
        }
      }
  }
*/

  input[type=text],
  select,
  textarea{
    width: 100%;
    padding: .5em;
    border: 1px solid $secondary-color;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: .5em;
    margin-bottom: 1.2em;
    }

    label{
      font-size: 1.2em;
    }

    textarea{
      height: 10em;
    }
}

.contact-form{
  text-align: left;

  .btn-dark{
    border-radius: 4px;
    padding: 1em 2em;
    cursor: pointer;
    @include easeOut;
  }
}
h2{
  a{
    @include easeOut;
    color: $secondary-color;

      &:hover{
        color: set-text-color($primary-color);
      }
  }
}
