//work/projects
.projects{
  display: grid;
  //we want it to be 3 fractionals across
  grid-template-columns: repeat(3, 1fr);
  grid-gap: .8rem;

  img{
    width: 100%;
    border: 3px solid #fff;

    &:hover{
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }

  .item
    h3{
      color: $secondary-color;
      text-align: center;
  }
}

.project-about{
  h4, .sm-heading{
    color: $secondary-color;
  }
}

#work{
  .lg-heading{
    margin-bottom: .5em;
  }
}