.project-about{
    color: set-text-color($primary-color);
    border-bottom: 5px solid $secondary-color;
}

.project-about{
  .center{
    padding: 1.2em 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  a{
    color: $secondary-color;
  }
}

.multi-image{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  img{
    margin: .5em;
  }
}