//button$primary-color;styles
.btn{
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  @include easeOut;    /* maybe, do more testing */
    &:hover{
      color: set-text-color($secondary-color);
      background: $secondary-color;
    }
}

.btn-dark{
  @extend .btn;
  background: darken($primary-color, 50);
  color: #ecf4f3;
}

.btn-light{
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

.back{
  text-align: center;
  display: inline-block;
}

.send{
  font-size: 1.2em;
  color: $secondary-color;
  background:$primary-color;
}
